<div class="tweet-card">
  <div (click)="goToTweetDetails()" class="card-wrapper">
    <div class="avatar-wrapper">
      <img src="https://unsplash.it/49/49" alt="avatar" class="avatar" />
    </div>

    <div class="tweet-info" *ngIf="tweet">
      <p class="user-info">
        <span class="user-name">{{ tweet.user.username }}</span>
        <span class="user-username">@{{ tweet.user.username }} - </span>
        <span class="tweet-time">{{ tweet.created_at | date: "short" }}</span>
      </p>
      <p class="reply-text" *ngIf="isComment">
        Replying to <span>@tunateb</span>
      </p>

      <p class="tweet-text">{{ tweet.text }}</p>

      <div class="image-wrapper" *ngFor="let image of tweet.image">
        <img
          [src]="baseUrl + image.url"
          [alt]="image.alternativeText"
          class="tweet-img"
        />
      </div>
    </div>
  </div>
  <div class="tweet-actions">
    <button class="btn-icon" (click)="goToTweetDetails()">
      <i class="far fa-comment"></i>
    </button>

    <div>
      <div *ngIf="!isRetweeted; else retweetedBtn">
        <button class="btn-icon" (click)="retweet()">
          <i class="fas fa-retweet"></i>
        </button>
        <span class="count"> {{ tweet.retweet }} </span>
      </div>

      <ng-template #retweetedBtn>
        <button class="btn-icon-retweeted" (click)="removeRetweet()">
          <i class="fas fa-retweet"></i>
        </button>
        <span class="count-retweeted"> {{ tweet.retweet }} </span>
      </ng-template>
    </div>

    <div>
      <div *ngIf="!isLiked; else likedBtn">
        <button class="btn-icon" (click)="like()">
          <i class="far fa-heart"></i>
        </button>
        <span class="count"> {{ tweet.like }} </span>
      </div>
      <ng-template #likedBtn>
        <button class="btn-icon-retweeted" (click)="removeLike()">
          <i class="far fa-heart"></i>
        </button>
        <span class="count-retweeted"> {{ tweet.like }} </span>
      </ng-template>
    </div>

    <button class="btn-icon"><i class="fas fa-external-link-alt"></i></button>
  </div>
</div>
