.tweet-card {
  border-bottom: 1px solid #3a444c;
  padding: 15px;

  .card-wrapper {
    display: flex;
    width: 100%;
    cursor: pointer;
  }

  .avatar-wrapper {
    margin-right: 10px;

    .avatar {
      border-radius: 50%;
    }
  }

  .user-info {
    font-size: 16px;
    line-height: 20px;

    .user-username {
      color: #8a98a4;
      margin: 0 10px;
    }

    .tweet-time {
      color: #8a98a4;
    }
  }

  .tweet-info {
    width: 100%;
  }

  .tweet-text {
    font-size: 16px;
    line-height: 24px;
    margin: 5px 0;
  }

  .tweet-img {
    width: 508px;
    height: 266px;
    object-fit: cover;
    border-radius: 14px;
    margin-top: 20px;
  }

  .tweet-actions {
    color: #8a98a4;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin-top: 20px;

    .link {
      color: #8a98a4;
    }

    .btn-icon {
      border: none;
      background-color: transparent;
      color: #8a98a4;
      font-size: 16px;
      cursor: pointer;
      margin-right: 5px;
      outline: none;
    }

    .btn-icon-retweeted {
      border: none;
      background-color: transparent;
      color: #059b19;
      font-size: 16px;
      cursor: pointer;
      margin-right: 5px;
      outline: none;
    }

    .count {
      font-size: 14px;
    }

    .count-retweeted {
      font-size: 14px;
      color: #059b19;
    }
  }

  .reply-text {
    color: #8a98a4;
    font-size: 14px;
    span {
      color: #4ba0ec;
    }
  }
}
