<div class="container grid-container">
  <div class="bordered-container">
    <app-navbar></app-navbar>
  </div>

  <div class="bordered-container">
    <div class="back-link">
      <a routerLink="/home" class="link"><i class="fas fa-arrow-left"></i></a>
      <h3>Tweet</h3>
    </div>
    <app-detailed-tweet-card [tweet]="tweet"></app-detailed-tweet-card>
    <app-tweetform
      [formPlaceholder]="formPlaceholder"
      [buttonText]="buttonText"
      [isComment]="true"
    ></app-tweetform>
    <div *ngIf="tweetComments">
      <app-tweet-card
        *ngFor="let comment of tweetComments"
        [tweet]="comment"
        [isComment]="true"
      ></app-tweet-card>
    </div>
  </div>

  <app-sidebar></app-sidebar>
</div>
