.grid-container {
  display: grid;
  grid-template-columns: 6fr 6fr;
  min-height: 100vh;

  .showcase {
    background-color: rgba(29, 161, 242, 1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .showcase-card {
      font-size: 24px;

      .showcase-item {
        display: grid;
        grid-template-columns: 1.5fr 10.5fr;
        margin-bottom: 20px;

        i {
          margin: auto;
        }
      }
    }
  }

  .call-to-action {
    background-color: #17202a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .cta-card {
      max-width: 380px;
      margin-bottom: 50px;

      .twitter-logo {
        font-size: 32px;
        margin-bottom: 20px;
      }

      .cta-title {
        margin-bottom: 50px;
      }

      .cta-text {
        margin-bottom: 10px;
      }

      .fw-btn {
        width: 100%;
        margin: 10px 0;
      }
    }
  }
}
