<nav class="navbar">
  <ul>
    <li class="nav-item">
      <a routerLink="/" class="nav-link logo">
        <i class="fab fa-twitter"></i>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <div><i class="fas fa-home"></i></div>
        <div>
          <strong class="nav-link-text">Home</strong>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <div><i class="fas fa-hashtag"></i></div>
        <div>
          <strong class="nav-link-text">Explore</strong>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <div><i class="far fa-bell"></i></div>
        <div>
          <strong class="nav-link-text">Notifications</strong>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <div><i class="far fa-envelope"></i></div>
        <div>
          <strong class="nav-link-text">Messages</strong>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <div><i class="far fa-bookmark"></i></div>
        <div>
          <strong class="nav-link-text">Bookmarks</strong>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <div><i class="far fa-list-alt"></i></div>
        <div>
          <strong class="nav-link-text">Lists</strong>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <div><i class="far fa-user"></i></div>
        <div>
          <strong class="nav-link-text">Profile</strong>
        </div>
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/" class="nav-link">
        <div><i class="fas fa-ellipsis-h bordered-icon"></i></div>
        <div>
          <strong class="nav-link-text">More</strong>
        </div>
      </a>
    </li>
  </ul>

  <button class="btn-light">Tweet</button>
</nav>
