<div class="profile-card">
  <div class="header">
    <img
      src="http://localhost:1337/uploads/photo_1494253109108_2e30c049369b_12e164bbca.jpeg"
      alt="header image"
      class="header-img"
    />
    <img
      src="http://localhost:1337/uploads/my_Avatar_22c3970cb2.png"
      alt="avatar"
      class="avatar"
    />
    <div class="profile-actions">
      <button class="btn-dark" (click)="editAccount()">
        Edit Account
      </button>
      <button class="btn-dark" (click)="editProfile()">
        Edit Profile
      </button>
    </div>
  </div>

  <div class="profile-details">
    <h3 class="profile-name">{{ user.profileName }}</h3>
    <p class="profile-username">@{{ user.username }}</p>
    <p class="profile-info">
      {{ user.userInfoText }}
    </p>

    <div class="contact-info">
      <div class="location">
        <i class="fas fa-map-marker-alt"></i>
        <span>{{ user.userLocation }}</span>
      </div>
      <div class="website">
        <i class="fas fa-link"></i>
        <span>
          <a href="#" class="link">{{ user.userWebsite }}</a>
        </span>
      </div>
      <div class="join-date">
        <i class="far fa-calendar-alt"></i>
        <span>Joined {{ user.created_at | date: "dd/MM/yyyy" }}</span>
      </div>
    </div>

    <div class="follow-count">
      <div class="follows">
        <span>398</span>
        <span class="follower-text">Following</span>
      </div>
      <div class="followers">
        <span>556</span>
        <span class="follower-text">Followers</span>
      </div>
    </div>
  </div>
  <div class="links-wrapper">
    <div class="link-wrapper"><a href="#" class="link">Tweets</a></div>
    <div class="link-wrapper">
      <a href="#" class="link">Tweets & replies</a>
    </div>
    <div class="link-wrapper"><a href="#" class="link">Media</a></div>
    <div class="link-wrapper"><a href="#" class="link">Likes</a></div>
  </div>
</div>
