<div class="tweet-card">
  <div class="avatar-wrapper">
    <img src="https://unsplash.it/49/49" alt="avatar" class="avatar" />
  </div>

  <div class="tweet-form">
    <form (submit)="onSubmit()">
      <label for="tweet-text">
        <textarea
          name="tweet-text"
          id="tweet-text"
          cols="50"
          rows="3"
          maxlength="140"
          [placeholder]="formPlaceholder"
          class="tweet-form-input"
          [(ngModel)]="form.text"
        ></textarea>
      </label>
      <div class="form-actions">
        <div class="form-additions">
          <a href="#" class="form-action"><i class="fas fa-image"></i></a>
          <a href="#" class="form-action"><i class="far fa-smile"></i></a>
        </div>
        <div>
          <div>
            <button class="btn-light" type="submit">{{ buttonText }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
