.tweet-card {
  width: 100%;
  border-bottom: 1px solid #3a444c;
  padding: 15px;
  display: flex;

  .avatar-wrapper {
    margin-right: 10px;

    .avatar {
      border-radius: 50%;
    }
  }

  .tweet-form-input {
    resize: none;
    font-size: 20px;
    width: 100%;
    background-color: #17202a;
    border: none;
    color: #fff;
    outline: none;
    font-family: "Open Sans", sans-serif;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-action {
    color: #4ba0ec;
    font-size: 20px;
    margin-right: 15px;
  }
}
