<div class="grid-container">
  <div class="showcase">
    <div class="showcase-card">
      <div class="showcase-item">
        <i class="fas fa-search"></i> <span>Follow your interests.</span>
      </div>
      <div class="showcase-item">
        <i class="fas fa-user-friends"></i>
        <span>Hear what people are talking about.</span>
      </div>

      <div class="showcase-item">
        <i class="far fa-comment"></i> <span>Join the conversation.</span>
      </div>
    </div>
  </div>

  <div class="call-to-action">
    <div class="cta-card">
      <div class="twitter-logo">
        <i class="fab fa-twitter"></i>
      </div>

      <h1 class="cta-title">See what's happening in the world right now</h1>

      <p class="cta-text">Join Twitter today.</p>
      <button class="btn-light fw-btn">Sign Up</button>
      <button class="btn-dark fw-btn">Log in</button>
    </div>
  </div>
</div>
