<div class="side-container">
  <div class="input-wrapper">
    <label for="search">
      <svg
        width="15"
        height="16"
        viewBox="0 0 15 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="search-icon"
      >
        <circle cx="7" cy="7" r="6.5" stroke="#8A98A4" />
        <path d="M11 12L14.5 15.5" stroke="#8A98A4" />
      </svg>

      <input
        type="text"
        class="search"
        name="search"
        id="search"
        placeholder="Search Twitter"
      />
    </label>
  </div>

  <div class="media-card">
      <img src="https://unsplash.it/114/97" alt="image" class="card-img">
      <img src="https://unsplash.it/114/96" alt="image" class="card-img">
      <img src="https://unsplash.it/115/96" alt="image" class="card-img">
      <img src="https://unsplash.it/113/96" alt="image" class="card-img">
      <img src="https://unsplash.it/114/95" alt="image" class="card-img">
      <img src="https://unsplash.it/114/94" alt="image" class="card-img">
  </div>



  <div class="card">
    <div class="card-title"><h3>You might like</h3></div>

    <div class="user-card">
      <div class="avatar-wrapper">
        <img src="https://unsplash.it/50/50" alt="avatar" class="avatar"/>
      </div>

      <div class="user-info">
        <h3>Name</h3>
        <p>@Name</p>
      </div>

      <div class="card-actions">
        <button class="btn-dark">Follow</button>
      </div>
    </div>
    <div class="user-card">
      <div class="avatar-wrapper">
        <img src="https://unsplash.it/50/50" alt="avatar" class="avatar"/>
      </div>

      <div class="user-info">
        <h3>Name</h3>
        <p>@Name</p>
      </div>

      <div class="card-actions">
        <button class="btn-dark">Follow</button>
      </div>
    </div>
    <div class="user-card">
      <div class="avatar-wrapper">
        <img src="https://unsplash.it/50/50" alt="avatar" class="avatar"/>
      </div>

      <div class="user-info">
        <h3>Name</h3>
        <p>@Name</p>
      </div>

      <div class="card-actions">
        <button class="btn-dark">Follow</button>
      </div>
    </div>
    <a href="#" class="link card-link">Show more</a>
  </div>
</div>
