<div class="card">
  <form (submit)="onSubmit()">
    <div class="logo-wrapper">
      <a routerLink="/" class="logo link">
        <i class="fab fa-twitter"></i>
      </a>
    </div>

    <h3 class="form-title">Login to your account</h3>
    <div class="form-control">
      <label for="identifier">
        Username or Email
        <input
          type="text"
          name="identifier"
          id="identifier"
          [(ngModel)]="form.identifier"
        />
      </label>
    </div>

    <div class="form-control">
      <label for="password">
        Password
        <input
          type="password"
          name="password"
          id="password"
          [(ngModel)]="form.password"
        />
      </label>
    </div>

    <div class="form-actions">
      <button class="btn-light" type="submit" [disabled]="isLoading">
        {{ isLoading ? "Loading..." : "Login" }}
      </button>
    </div>
  </form>
</div>
